.div_total{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
    height: 0vw; 
    justify-content: center;
    align-items: center; 
    margin: 0 auto;
    padding: 0px;
    text-align: center;
    font-family: Sans-serif;
    font-size: 16px;
}

.div_formulas{
    width: 320px;
    height: 280px; 
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    background-color: lightcyan;
}

#h_formulas{
    font-size: 30px; 
    text-align: center;
}

.btn_calcular{
    text-align: center;
}

.legenda{
    font-size: 20px;
    color: black;
}
.tabela{
/*    width: 320px;
    height: 280px; */
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    background-color: lightcyan;
}